#EventsCarousel{
background-color: black;

}



.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0 auto;
}

.carousel-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 200px;
  height: 500px;
  position: absolute;
  transition: transform 0.5s ease;
  transform-origin: center center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item-center {
  transform: scale(1.1);
  z-index: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-left {
  left: 20px;
}

.arrow-right {
  right: 20px;
}
