:root {
  --black: rgba(0, 0, 0, 1);
  --body-m-font-family: "Manrope", Helvetica;
  --body-m-font-size: 16px;
  --body-m-font-style: normal;
  --body-m-font-weight: 400;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 160.0000023841858%;
  --linkit-blue: rgba(43, 101, 159, 1);
  --linkit-bold-white-font-family: "Manrope", Helvetica;
  --linkit-bold-white-font-size: 20px;
  --linkit-bold-white-font-style: normal;
  --linkit-bold-white-font-weight: 800;
  --linkit-bold-white-letter-spacing: 0px;
  --linkit-bold-white-line-height: 139.9999976158142%;
  --linkit-comment-font-family: "Manrope", Helvetica;
  --linkit-comment-font-size: 24px;
  --linkit-comment-font-style: normal;
  --linkit-comment-font-weight: 800;
  --linkit-comment-letter-spacing: 0px;
  --linkit-comment-line-height: 139.9999976158142%;
  --linkit-emphasis-font-family: "Manrope", Helvetica;
  --linkit-emphasis-font-size: 56px;
  --linkit-emphasis-font-style: normal;
  --linkit-emphasis-font-weight: 800;
  --linkit-emphasis-letter-spacing: 0px;
  --linkit-emphasis-line-height: 129.99999523162842%;
  --linkit-footnote-font-family: "Manrope", Helvetica;
  --linkit-footnote-font-size: 12px;
  --linkit-footnote-font-style: normal;
  --linkit-footnote-font-weight: 400;
  --linkit-footnote-letter-spacing: 0px;
  --linkit-footnote-line-height: 160.0000023841858%;
  --linkit-header-font-family: "Manrope", Helvetica;
  --linkit-header-font-size: 80px;
  --linkit-header-font-style: normal;
  --linkit-header-font-weight: 800;
  --linkit-header-letter-spacing: 0px;
  --linkit-header-line-height: 150%;
  --linkit-hellblau: rgba(82, 180, 220, 1);
  --linkit-small-font-family: "Manrope", Helvetica;
  --linkit-small-font-size: 16px;
  --linkit-small-font-style: normal;
  --linkit-small-font-weight: 400;
  --linkit-small-letter-spacing: 0px;
  --linkit-small-line-height: 160.0000023841858%;
  --linkit-standard-white-font-family: "Manrope", Helvetica;
  --linkit-standard-white-font-size: 20px;
  --linkit-standard-white-font-style: normal;
  --linkit-standard-white-font-weight: 400;
  --linkit-standard-white-letter-spacing: 0px;
  --linkit-standard-white-line-height: 139.9999976158142%;
  --linkit-subheader-font-family: "Manrope", Helvetica;
  --linkit-subheader-font-size: 36px;
  --linkit-subheader-font-style: normal;
  --linkit-subheader-font-weight: 800;
  --linkit-subheader-letter-spacing: 0px;
  --linkit-subheader-line-height: 139.9999976158142%;
  --linkit-subtle-callout-font-family: "Manrope", Helvetica;
  --linkit-subtle-callout-font-size: 32px;
  --linkit-subtle-callout-font-style: normal;
  --linkit-subtle-callout-font-weight: 800;
  --linkit-subtle-callout-letter-spacing: 0px;
  --linkit-subtle-callout-line-height: 139.9999976158142%;
  --linkit-trkis: rgba(94, 177, 159, 1);
  --white: rgba(255, 255, 255, 1);
}
